*{
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif,'Arial',sans-serif;
	font-size: 20px;
	line-height: 1.5;
}
body{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Raleway', sans-serif,'Arial',sans-serif;
}

#Header,main>section{
	margin: 0;padding: 65px;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: relative;
	display: flex;
	color:hsl(243, 87%, 12%);
}
#Header{
	display: block;
	position: relative;		
	padding-bottom: 0;
}
#Header>nav{
	display: inline-block;float: right;margin:1%;
}
#Footer,#Footer>*{
    background-color: hsl(243, 87%, 12%);
    line-height: 2.5;
    font-size: 0.85em;
}
#Footer>section{
	margin: 0;
	align-content: center;
	justify-content: space-between;
	width: 100%;
	position: relative;
	display: flex;
	background-color: hsl(243, 87%, 12%);
	color: white;
	padding: 65px;
	align-items: normal;
}
article, section>img{
	width: 47.5%;
}
form>*{
    width: 100%;
}
#Footer ul a{
    text-decoration: none;
    color: white;
}
#Footer>nav{
	display: flex;
	justify-content: space-between;
	padding: 65px;
	padding-top: 0!important;
}
#Footer>article{
	margin: 0;
    padding: 65px;
    width: 100%;
    padding-bottom: 0!important;
}
#Footer a:hover{
    text-shadow: 0 0 12px white;
}
#Footer>nav>ul{
	list-style-type: none;
	color: white;
    padding: 0;
}
#Header nav>a{
	padding: 10px;
	text-decoration: none;
	border: solid 3px #fff0;
	border-radius: 8px;
	transition: border-color 0.25s;
}
#Header nav>a:hover{
	border-color:hsl(243, 87%, 12%);
}
#Header nav>a:visited{
	color: inherit;
}

.email,.submit{
    padding: 10px 20px;
    border-radius: 5px;
    transition: box-shadow 0.5s;
    outline: none;
    width: 100%;
    font-size: 0.75em;
    margin-top: 20px;
}
.email{
    border: solid 1px hsla(0, 0%, 59%,0.5);color:hsl(0, 0%, 59%);font-weight: 300;
    padding-left: 20px;float: left;
}
.submit{
    background-color: hsl(223, 81%, 50%);color: white;
    border: solid 1px hsl(223, 100%, 88%);
    font-weight: bold;
}
.submit:hover{
    box-shadow: 0 0 5px 3px hsl(0, 0%, 75%);
}
.submit:focus{
    background-color: hsl(223, 87%, 63%);
}
.error{
    color:hsl(354, 100%, 66%);display:block;font-size: 0.6em;
}
.error.mob{
	text-align: center;
}
blockquote{
	background: white;
    box-shadow: 0 0 10px 0 hsl(0, 0%, 75%);
    margin: 5% 0;
    padding: 4%;
    border-radius: 10px;
    width: 60%;
}
.panel{
	display: flex;
    margin-block-start: 1em;margin-block-end: 1em;
}
.panel a{
	height: 40px;
	width: 40px;
	border: solid 1px white;
	padding: 0; 
	border-radius: 50%;     
	background-color: none;
	color: white;
	transition: border-color 0.5s, color 0.5s;
	margin: 5px;
}
.panel a>svg{
	margin: 9px;
}
.panel a:hover{
	color: hsl(223, 87%, 63%);
	border-color: hsl(223, 87%, 63%);
}
#Footer li,.panel{
    margin: 8px 0;
}

@media (min-width: 766px) {
	.error.mob{
        display: none;
    }
    .submit{
    	width: auto;
    }
    form[name = "Form1"]>.email{
    	width: 70%;
    }
    form[name = "Form1"]>.submit{
    	width: 25%;float: right;
    }
	#Footer>article,form[name = "Form2"]{
		width: 47.5%;
	}
	#Header>img{
		width: 10em;
    }
    .panel{
        width: 25%;
    }
    h1,h2{
        font-size: 1.9em;
        margin: 0;
    }
}
@media(min-width: 1200px){
}
@media (max-width:766px) {
    #Header,main>section{
    	text-align: center;
    	width: 100%;
    	padding: 6%;
    }
    #Header>img{
        width: 5em;
        vertical-align: -webkit-baseline-middle;
    }
    #Header a{
    	font-size: 0.75em;
    }
    #Footer{
    	padding: 0;
    }
    #Footer>section{
        text-align: center;
    }
   	main>section{
    	flex-direction: column-reverse;
    }
    #Footer>section,#Footer>nav,#Footer>article{
    	flex-direction: column;
        padding: 50px;
    }
    #Header,#Footer>nav,#Footer>article{
    	text-align: left;
    }
    article, section>img{
    	width: 100%;
    }
    .error.desk{
        display: none;
    }
    .error.mob{
        display: block;
    }
    blockquote{
    	width: 86%;
    	text-align: left;
    	margin: 7%;
    }
    .panel{
    	align-self: center;
    	text-align: center;
    }
    h1{
        font-size: 1.9em;
    }
    h2{
        font-size: 1.3em;
    }
}
@media (max-width:576px) {
    h1,h2{
        font-size: 1.3em;
    }
}